@font-face {
    font-family: 'Didot';
    src: url('Didot-HTF-M96-Medium.eot');
    src: url('Didot-HTF-M96-Medium.eot?#iefix') format('embedded-opentype'),
        url('Didot-HTF-M96-Medium.woff2') format('woff2'),
        url('Didot-HTF-M96-Medium.woff') format('woff'),
        url('Didot-HTF-M96-Medium.ttf') format('truetype'),
        url('Didot-HTF-M96-Medium.svg#Didot-HTF-M96-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

